{% include "header.html" %}

<form>

    <label for="image-prompt">Image Prompt: </label>
    <input type="text" id="image-prompt" name="prompt">
    <div id="images"></div>
    <br>
    <button type="button" id="generateImage">Generate 2 Images</button>
    <label for="file-name">File Name: </label>
    <input type="text" id="file-name" name="filename">
    <button type="submit" id="saveImageButton">Save Selected Image</button>
</form>

<script src="static\scripts\child-img.js"></script>

</body>

</html>
