{% include "header.html" %}

{{ recipe | safe }}

    <br><br>
    <form>
        <input type="hidden" name="title" id="displayTitle" value="{{ recipe_title }}">
        <input type="hidden" name="description" id="displayDesc" value="{{ recipe_desc }}">
        <input type="hidden" name="instructions" id="displayInstructions" value="{{ instructions }}">
        <input type="hidden" name="ingredients" id="displayIngredients" value="{{ ingredients }}">
        <p>Please select the image you would like to use for your recipe:</p>
        {% for image in images %}
            <div class="image-group">
                <input type="radio" id="image_{{ loop.index0 }}" name="recipe_image" value="{{ image }}">
                <label for="image_{{ loop.index0 }}"><img class="recipeImg" src="{{ image }}" alt="Recipe Image"></label>
            </div>
        {% endfor %}
        <br>
        <button type="button" id="regenButton">Regenerate Images</button>
        <button type="submit" id="displaySubmitButton">Save Recipe</button>
    </form>
    
   

    
</body>

{% include "footer.html" %}
