{% include "header.html" %}

{{ recipe | safe }}

    <br><br>
    <form id="recipeForm" action="{{ url_for('save_recipe') }}" method="POST">
        <input type="hidden" name="title" value="{{ recipe_title }}">
        <input type="hidden" name="description" value="{{ recipe_desc }}">
        <input type="hidden" name="instructions" value="{{ instructions }}">
        <input type="hidden" name="ingredients" value="{{ ingredients }}">
        <p>Please select the image you would like to use for your recipe:</p>
        {% for image in images %}
            <div class="image-group">
               
                <input type="radio" id="image_{{ loop.index0 }}" name="recipe_image" value="{{ image }}">
                <label for="image_{{ loop.index0 }}"><img src="{{ image }}" alt="Recipe Image"></label>
            </div>
        {% endfor %}
        <br>
        <button type="submit" form="recipeForm" id="submitButton">Save Recipe</button>
    </form>
    
   

    
</body>

{% include "footer.html" %}
