{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}


<!-- This is the section that I need to work on so that save_recipe can be paired down -->
<!-- I think what I'll need to do is use a regular form rather than a wtf form -->
<body>
    <div>
        <!-- This H1 will need to change based on if this is a new recipe or not -->
        <h1 id="edit-h1">Edit Recipe:</h1>
        <form>
            <!-- Recipe ID -->
            <!-- Title -->
            <!-- Description / Long text Editor -->
            <!-- Ingredients and Instructions need to be reanalyzed. could probably be done with input boxes or something to force unifomity of data -->
            <!-- Ingredients -->
            <!-- Instructions -->
            <!-- Generate Images or Regenertate / will depend on if its a new recipe or not -->
            <!-- Submit Button -->
        </form>
    </div>
</body>

{% include "footer.html" %}
