{% include "header.html" %}
<br>
<div class="recipe_feed">
    {% for recipe in all_recipes %}

    <div class="card">
        <div class="card__inner">
            <div class="card__face card__face--front">
                <h2 class="front-title">{{ recipe.title | safe }}</h2>
                <h3>{{ recipe.user.username | safe }}</h3>
                <img class="recipe-img" src="{{ recipe.img_url }}">
                <p class="recipe-desc">
                    {{ recipe.description | safe }}
                </p>
            </div>
            <div class="card__face card__face--back">
                <div class="card__content">
                    <div class="card__header">
                        <h2 class="back-title">{{ recipe.title | safe }}</h2>
                        <h5>{{ recipe.user.username  | safe }}</h5>
                        <br>
                        <p class="recipe-desc">
                            {{ recipe.description | safe }}
                        </p>
                    </div>
                    <br>
                    <div class="card__body">
                        <div class="ingredients">
                            <h4>Ingredients:</h4>    
                            {% set ingredients = recipe.ingredients | custom_split %}
                            {% set isList = ingredients | is_list_check %}

                            {% if isList %}
                                {% for item in ingredients %}
                                    {% if item|safe == ',' %}
                                        {{ pass }}
                                    {% else %}
                                        {{ item|safe }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {{ ingredients | safe }}
                            {% endif %}

                        </div>
                        <br>
                        <div class="instructions">
                            <h4>Instructions:</h4>
                            {% set instructions = recipe.instructions | custom_split %}
                            {% set isList = instructions | is_list_check %}
                            {% if isList %}
                                {% for step in instructions %}
                                    {% if step|safe == ',' %}
                                        {{ pass }}
                                    {% else %}
                                        {{ step|safe }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {{ recipe.instructions | safe }}
                            {% endif %}
                        </div>
                        <br>
                        {% if current_user.id == recipe.user.id %}
                            <form action="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" method="POST">
                                <button type="submit" class="btn btn-danger">Edit Recipe</button>
                            </form>

                            <form action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" method="POST" name="deleteRecipeForm_{{ recipe.id }}">
                                <button type="button" class="btn btn-danger" onclick="confirmDelete('{{ recipe.id }}')">Delete Recipe</button>
                            </form>
                            
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    {% endfor %}
</div>

{% include "footer.html" %}